<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="DFLinkSTEntities" connectionString="metadata=res://*/DFLinkST.csdl|res://*/DFLinkST.ssdl|res://*/DFLinkST.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.18.3.100;Initial Catalog=DFLinkST;User ID=nate;Password=ondemand;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>